.inputForm input{
	display:inline-block;
	font-family:Verdana;
	font-size:1.4em;
	height:50px;
	width:200px;
	text-align:center;
	border-radius:10px;
}

.inputForm{
	display:inline-block;
	position:relative;
	top:-54px;
}

#functionSelect{
	font-family:Verdana;
	display:inline-block;
	font-size:2em;
	font-weight:normal;
	text-align:left;
	margin-left:25px;
	margin-right:25px;
}


#container{
	margin-top:400px;
	width:60%;
	min-width:600px;
	margin:auto;
	text-align:center;
	padding-top:50px;
}

#innerContain{
	font-family:Verdana;
	font-weight:Bold;
}

#calculate{
	display:block;
	margin:auto;
}

#calculate input{
	font-family:Verdana;
	width:200px;
	font-size:1.3em;
	margin-top:30px;
}

#clear{
	display:block;
	margin:auto;
}

#clear input{
	font-family:Verdana;
	font-size:.9em;
	margin-top:50px;
	width:140px;
}

#resultContainer input{
	font-family:Verdana;
	font-weight:Bold;
	font-size:1.8em;
	margin-top:20px;
	text-align:right;
	height:100px;
	padding:15px;
}