body{
    text-align:center;
}

.weather{
    width: 400px;
    margin:auto;
    margin-top:40px;
    background-color:rgba(230,230,100,.3);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:80px;
    padding-right:80px;
    color:rgba(70,70,30,1);
}

.weather-loc{
    font-size: 3em;
    margin-bottom: 14px;
}

.weather-temp{
    font-size:1.6em;
}
.weather-temp::before{
    content: 'Currently ';
}

.weather-humidity{
    font-size:1.2em;
    margin-bottom:20px;
    opacity:.7;
}
.weather-humidity::before{
    content: 'Humidity: ';
}
.weather-humidity::after{
    content: '%';
}

.futureWeatherWrap{
    width:80px;
    display:inline-block;
    font-size:.77em;
    font-style:italic;
    color:rgba(70,70,30,.6);
}


